header{
    background-color:black;
}

h1, h2{
    display:flex;
    justify-content: center;
}

main, body{
    background-color:black;
    color:white;
}

.unsplashLogo{
    width: 25px;
}

.imageContainer{
    width: 824px;
    height: 588px;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color:white;
}