header{
    background-color:black;
}

h1{
    display:flex;
    justify-content: center;
    font-size: 60px;
}

h2{
    display:flex;
    justify-content: center;
    font-size: 20px;
}

main, body{
    background-color:black;
    color:white;
}

.allCards{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.imageContainer{
    max-width: 450px;
    max-height: 450px;
}

p{
    display:flex;
    justify-content: center;
}

.unsplashLogo{
    width: 25px;
}

footer{
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    color:white;
}
